<h1><%= current_user.group.name %></h1>

Invite Code: <%= current_user.group.code %>

<%= link_to "Edit", edit_group_path(current_user.group_id) %>

<%= link_to 'Leave Group', user_path(current_user.id, user: { group_id: nil }),
  method: :patch,
  data: { confirm: "Are you sure?" } %>

<h2>Group Members</h2>

<ul>
  <% @group.users.each do |group_user| %>
    <li>
      <%= group_user.first_name + ' ' + group_user.last_name %>
    </li>
  <% end %>
</ul>
