<h1>Dashboard</h1>

<% if current_user.group %>
  <%= link_to current_user.group.name, group_path(current_user.group) %>
<% else %>
  <%= link_to "Join Group", edit_user_path(current_user.id) %>
  <%= link_to "Create Group", new_group_path %>
<% end %>


<div>
  <%= link_to "Add new product", new_product_path %>
</div>

<%= render partial: "products/products", locals: { products: current_user.products } %>
