<div class="product-list">
  <% products.each do |product| %>
    <div class='product'>
      <div class='product-body'>
        <div class='product-title'>
          <a class='link-xl' href="<%= product.url %>" target='_blank' rel='noreferrer'><%= product.name %></a>
          <span class='bubble'><%= product.category %></span>
        </div>

        <div class='product-comments'>
          <%= product.comments %>
        </div>
      </div>

      <div class='product-buttons'>
        <%= link_to "Edit", edit_product_path(product), class: 'button button-primary' %>

        <%= link_to 'Delete', product_path(product),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: 'button' %>

      </div>
    </div>
  <% end %>
</div>